.landingpage {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    background: $footandheadcol;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.box {
    background-color: #ecf0f1;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0);
    transition: transform 0.3s ease-in-out;
    color: $font-color;
}

.box.bigger {
    flex-grow: 2;
    background-color: $boxcol;
}

.box.smaller {
    flex-grow: 1;
    background-color: $boxcol;
}

.box.wide {
    flex-grow: 2;
    background-color: $boxcol;
}

.box.wide, .box.smaller {
    grid-column: span 2;
}

.box.python {
    grid-column: span 3;
    background-color: $boxcol;
}

.box:hover {
    transform: scale(1.05);
}

.my-text {
    color: $font-color;
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.my-text:hover {
    color: #fff;
    text-decoration: underline;
}
