.tech-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
}

%shared-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background: linear-gradient(to right, #3498db, #2ecc71);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 30px;
}

.single-technology {
    @extend %shared-container;
}

.boxing {
    background-color: #3498db;
    color: $font-color;
    @extend %shared-container;
}

.tech-menu,
.tech-content {
    width: 48%;
    padding: 20px;
    color: $font-color;
}

.boxing:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-out;
}

.post-link {
    color: $font-color;
    text-decoration: none;
}

.post-link:hover {
    color: #fff;
    text-decoration: underline;
}

.post {
    color: #ff00;
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.post:hover {
    color: #fff;
    text-decoration: underline;
}
