$nourivre-1-hex: #333;
$nourivre-2-hex: #333;
$nourivre-3-hex: #333;
$nourivre-4-hex: #333;
$nourivre-5-hex: #333;

$bodd: #333;

$nourivre-1-rgba: rgba($nourivre-1-hex, 0.8);
$nourivre-2-rgba: rgba($nourivre-2-hex, 0.8);
$nourivre-3-rgba: rgba($nourivre-3-hex, 0.8);
$nourivre-4-rgba: rgba($nourivre-4-hex, 0.8);
$nourivre-5-rgba: rgba($nourivre-5-hex, 0.8);

$gradient: linear-gradient(120deg, $nourivre-1-rgba, $nourivre-4-rgba, $nourivre-5-rgba);

$footandheadcol: linear-gradient(to right, #333, #000);

$boxcol: #333;

$foothover: #FFF;

$mainbackground: #333;

$font-color: #C2C2C2;
$font-alternative-color: #777;

$header-font: 'Vina Sans', sans-serif;
$paragraph-font: 'Kanit', sans-serif;

$vertical-rhythm: 1rem;

$max-width-main: 800px;

$ram-photo: $nourivre-1-hex
