$nourivre-1-hex: #FF6B6B; // Red
$nourivre-2-hex: #333; // Orange
$nourivre-3-hex: #FFF06B; // Yellow
$nourivre-4-hex: #333; // Green
$nourivre-5-hex: #6B6BFF; // Blue

$bodd: #333;

$nourivre-1-rgba: rgba($nourivre-1-hex, 0.8);
$nourivre-2-rgba: rgba($nourivre-2-hex, 0.8);
$nourivre-3-rgba: rgba($nourivre-3-hex, 0.8);
$nourivre-4-rgba: rgba($nourivre-4-hex, 0.8);
$nourivre-5-rgba: rgba($nourivre-5-hex, 0.8);

$gradient: linear-gradient(120deg, $nourivre-1-rgba, $nourivre-4-rgba, $nourivre-5-rgba);

$footandheadcol: linear-gradient(to right, #FF6B6B, #B6FF6B);
$toptobottom: linear-gradient(to top, #FF6B6B, #B6FF6B);

$boxcol: #2ecc71;

$foothover: #FFF;

$mainbackground: #FFD166;

$font-color: $nourivre-2-hex;
$font-alternative-color: $nourivre-4-hex;

$header-font: 'Vina Sans', sans-serif;
$paragraph-font: 'Kanit', sans-serif;

$vertical-rhythm: 1rem;

$max-width-main: 800px;

$ram-photo: $nourivre-1-hex
