* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    background-color: #3498db; /* Dodger Blue */
    padding: 1em;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #3498db; /* Dodger Blue */
}

.title p {
    font-style: italic;
    color: #2c3e50; /* Midnight Blue */
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #2c3e50; /* Midnight Blue */
    background-color: #3498db; /* Dodger Blue */
    padding: 1em;
}

.footer a {
    color: #2c3e50; /* Midnight Blue */
}

.footer .social {
    font-size: 2rem;
    color: #3498db; /* Dodger Blue */
}

/* Typography */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5rem;
    color: #2c3e50; /* Midnight Blue */
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: #3498db; /* Dodger Blue */
}

img {
    max-width: 100%;
    border-radius: 0.3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Additional Styling for Code/Pre/Blockquote */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #3498db; /* Dodger Blue */
    border-radius: 0.3em;
    background: #fff;
    font-family: 'Courier New', monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #3498db; /* Dodger Blue */
    border-radius: 0.3em;
    background: #fff;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #3498db; /* Dodger Blue */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
