{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="analysis-main" role="main">
        <div class="single-analysis">
            
            </div>
            <div class="analysis-content">
                {{ content }}
            </div>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
